@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.mainbox {
  width: 100%;
  padding: 10px;
  justify-items: center;
}

.downloadBox {
  width: 100%;
  justify-items: center;
}

.downloader {
  width: 400px;
}

.downloader button {
  width: 100%;
  align-content: center;
  margin: 10px 0px 0px 0px;
}

.downloader .src {
  color: black;
  width: 100%;
  border: white;
  background-color: white;
  padding: "0px 10px 0px 10px";
}

.downloader .src input {
  width: 100%;
  text-align: center;
}

.loader {
  width: 24px;
  height: 24px;
  border: 3.5px solid #FFF;
  border-bottom-color: #0037ff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: spin 2.5s ease-in-out infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

.errorMsg {
  color: brown;
}